@{
    ViewBag.Title = "Index";
}

<h2>管理员页面</h2>

<div class="row-fluid">
    <hr />
    <div>
        <input type="button" class="btn btn-default" id="btnUpdateCompany" onclick="updatecompany()" value="更新客户资料" />
        <input type="button" class="btn btn-default" id="btndelcompany" onclick="delcompany()" value="清空旧" />
        <input type="button" class="btn btn-default" id="btnImportCompanyFromCms" onclick="ImportCompanyFromCms()" value="导入CMS客户" />
        <input type="button" class="btn btn-default" id="btnImportCompanyFromAgentGrade" onclick="ImportCompanyFromAgentGrade()" value="导入评分客户" />
        <input type="button" class="btn btn-default" id="btnUpdateCompanyStatus" onclick="UpdateCompanyStatus()" value="更新客户状态" />
    </div>
    <div>
        <textarea id="paramdata" rows="10" cols="60"></textarea>
        <br />
        <input type="button" class="btn btn-default" id="btnupdate" onclick="update()" value="更新销售abc-bbb" />
        <input type="button" class="btn btn-default" id="btnUpdateSalesName" onclick="updateSalesName()" value="更新销售公司-销售" />
        <input type="button" class="btn btn-default" id="btnGetSalesName" onclick="getSalesName()" value="导出销售名字" />
        <input type="button" class="btn btn-default" id="btnGetCms" onclick="getCms()" value="导出CMS" />
        <input type="button" class="btn btn-default" id="btnupdateLegal" onclick="updateLegal()" value="更新客户法人" />
    </div>
    <div>
        <span id="resultspan"></span>
    </div>
    <hr />
    @*@using (Html.BeginForm("ImportData", "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        <div class="form-group">
            <div class="col-md-10">
                <textarea id="DataText"></textarea>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="操作" />
            </div>
        </div>
    }*@
</div>

<script>
    var UpdateCompanyStatus = function () {
        $("#btnUpdateCompanyStatus").attr("disabled", true);    //隐藏一分钟
        $("#resultspan").html("");
        var serverUrl = "@Url.Content("~/")";
        var mvcurl = serverUrl + "Admin/UpdateCompanyStatus";
        $.ajax({
            type: 'POST',
            url: mvcurl,
            data: null,
            success: function (data) {
                $("#resultspan").html(data);
            }
        });
        $("#btnUpdateCompanyStatus").attr("disabled", false);    //隐藏一分钟
    }

    var ImportCompanyFromAgentGrade = function () {
        $("#btnImportCompanyFromAgentGrade").attr("disabled", true);    //隐藏一分钟
        $("#resultspan").html("");
        var serverUrl = "@Url.Content("~/")";
        var mvcurl = serverUrl + "Admin/ImportCompanyFromAgentGrade";
        $.ajax({
            type: 'POST',
            url: mvcurl,
            data: null,
            success: function (data) {
                $("#resultspan").html(data);
            }
        });
        $("#btnImportCompanyFromAgentGrade").attr("disabled", false);    //隐藏一分钟
    }

    var ImportCompanyFromCms = function () {
        $("#btnImportCompanyFromCms").attr("disabled", true);    //隐藏一分钟
        $("#resultspan").html("");
        var serverUrl = "@Url.Content("~/")";
        var mvcurl = serverUrl + "Admin/ImportCompanyFromCms";
        $.ajax({
            type: 'POST',
            url: mvcurl,
            data: null,
            success: function (data) {
                $("#resultspan").html(data);
            }
        });
        $("#btnImportCompanyFromCms").attr("disabled", false);    //隐藏一分钟
    }

    var updateLegal = function () {
        $("#btnupdateLegal").attr("disabled", true);    //隐藏一分钟
        $("#resultspan").html("");
        var serverUrl = "@Url.Content("~/")";
        var mvcurl = serverUrl + "Admin/UpdateLegal";
        $.ajax({
            type: 'POST',
            url: mvcurl,
            data: null,
            success: function (data) {
                $("#resultspan").html(data);
            }
        });
        $("#btnupdateLegal").attr("disabled", false);    //隐藏一分钟
    }

    var getCms = function () {
        $("#btnGetCms").attr("disabled", true);    //隐藏一分钟
        $("#resultspan").html("");
        var serverUrl = "@Url.Content("~/")";
        var mvcurl = serverUrl + "Admin/GetCms";
        $.ajax({
            type: 'POST',
            url: mvcurl,
            data: null,
            success: function (data) {
                $("#paramdata").val(data);
            }
        });
        $("#btnGetCms").attr("disabled", false);    //隐藏一分钟
    }

    var getSalesName = function () {
        $("#btnGetSalesName").attr("disabled", true);    //隐藏一分钟
        $("#resultspan").html("");
        var serverUrl = "@Url.Content("~/")";
        var mvcurl = serverUrl + "Admin/GetSalesName";
        $.ajax({
            type: 'POST',
            url: mvcurl,
            data: null,
            success: function (data) {
                $("#paramdata").val(data);
            }
        });
        $("#btnGetSalesName").attr("disabled", false);    //隐藏一分钟
    }

    var updateSalesName = function () {
        $("#btnUpdateSalesName").attr("disabled", true);    //隐藏一分钟
        $("#resultspan").html("");
        var serverUrl = "@Url.Content("~/")";
        var mvcurl = serverUrl + "Admin/UpdateSalesName";
        var paramdata = $("#paramdata").val();
        $.ajax({
            type: 'POST',
            url: mvcurl,
            data: {
                paramdata: $("#paramdata").val()
            },
            success: function (data) {
                $("#resultspan").html(data);
            }
        });
        $("#btnUpdateSalesName").attr("disabled", false);    //隐藏一分钟
    }

    var update = function () {
        $("#btnupdate").attr("disabled", true);    //隐藏一分钟
        $("#resultspan").html("");
        var serverUrl = "@Url.Content("~/")";
        var mvcurl = serverUrl + "Admin/Update";
        var paramdata = $("#paramdata").val();
        $.ajax({
            type: 'POST',
            url: mvcurl,
            data: {
                paramdata: $("#paramdata").val()
            },
            success: function (data) {
                $("#resultspan").html(data);
            }
        });
        $("#btnupdate").attr("disabled", false);    //隐藏一分钟
    }

    var updatecompany = function () {
        $("#btnUpdateCompany").attr("disabled", true);    //隐藏一分钟
        $("#resultspan").html("");
        var serverUrl = "@Url.Content("~/")";
        var mvcurl = serverUrl + "Admin/UpdateOtaCompany";
        $.get(mvcurl, function (response) {
            $("#resultspan").html(response);
        });
        $("#btnUpdateCompany").attr("disabled", false);    //隐藏一分钟
    }
    var delcompany = function () {
        $("#btndelcompany").attr("disabled", true);    //隐藏一分钟
        $("#resultspan").html("");
        var serverUrl = "@Url.Content("~/")";
        var mvcurl = serverUrl + "Admin/DelCompanyCmsData";
        $.get(mvcurl, function (response) {
            $("#resultspan").html(response);
        });
        $("#btndelcompany").attr("disabled", false);    //隐藏一分钟
    }
</script>