@model IEnumerable<CrmWebApp.Models.OtaSalesReport>

@{
    ViewBag.Title = "Index";
}

<div class="row-fluid">
    <div class="span12">
        <ul class="breadcrumb">
            <li>
                <a href="~/Home/Index">主页</a> <span class="divider"></span>
            </li>
            <li>
                <a href="~/OtaSalesReports/Index">周报</a> <span class="divider"></span>
            </li>           
        </ul>
    </div>
</div>

<p>
    @Html.ActionLink("生成", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SendToEmails)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReportTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateTime)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SendToEmails)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReportTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateTime)
            </td>
            <td>
                @Html.ActionLink("编辑", "Edit", new { id = item.ID }, new { @class = "btn btn-default" })
                @Html.ActionLink("详情", "Details", new { id = item.ID }, new { @class = "btn btn-default" })
                @Html.ActionLink("删除", "Delete", new { id = item.ID }, new { @class = "btn btn-default" })
                <a href="#" class="btn btn-default" onclick="SendEmail('@item.ID')">发送</a>
            </td>
        </tr>
    }

</table>

<script>
    var SendEmail = function (modelParam) {
        var serverUrl = "@Url.Content("~/")";
        var url = serverUrl + "OtaSalesReports/SendEmail?id=" + modelParam;
        $.get(url, function (data, status) {
            alert("发送成功.");
        });
    }
</script>