@model CrmWebApp.Models.CompanyMedia

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CompanyMedia</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OuterKeyId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OuterKeyId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MediaFor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MediaFor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MediaName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MediaName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MediaUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MediaUrl)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
