@{
    ViewBag.Title = "Index";
}

<hr />
<div class="row-fluid">
    <div>
        @Html.Action("GetCompanyStatusChart")
    </div>
    <hr />
    <div>
        @Html.Action("GetMyCompanyStatusChart")
    </div>
    <hr />
    <div>
        @Html.Action("GetCompanyTicketRangeChart")
    </div>
    <hr />
    <div>
        @Html.Action("GetCompanyCountChart")
    </div>
    <hr />
    <div>
        @Html.Action("GetMeetCountChart")
    </div>
    <hr />
    <div>

    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/highcharts")
}
