@model CrmWebApp.Models.SelectCityViewModel

@using (Html.BeginForm())
{
    <div class="form-horizontal">
        @Html.HiddenFor(model => model.OuterId)
        @Html.HiddenFor(model => model.OuterName)

        <div>
            @foreach (var province in Model.ProvinceList)
            {
                <div class="row">
                    <input id="@province.ProvinceID" onchange="ChangeSalesServeArea('@province.ProvinceName','')" type="checkbox" value="@province.ProvinceName" checked='@province.Selected' />
                    @Html.DisplayFor(pItem => province.ProvinceName)
                    <hr />
                    <ul class="nav nav-tabs nav-stacked col-md-offset-1">
                        @foreach (var city in province.CityList)
                    {
                            <li class="col-md-3">
                                <input id="city+@city.CityID" onchange="ChangeSalesServeArea('@province.ProvinceName','@city.CityName')" type="checkbox" value="@city.CityName" checked='@city.Selected' />
                                @Html.DisplayFor(citem => city.CityName)
                            </li>
                        }
                    </ul>

                </div>
                <hr />
            }
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @Html.ActionLink("保存", "Index", "SalesServeAreas")
            </div>
        </div>
    </div>
}

<script>
    var ChangeSalesServeArea = function (provinceName, cityName) {
        var userName = '@Model.OuterName';
        var serverUrl = "@Url.Content("~/")";
        var posturl = serverUrl + "SelectCityView/ChangeSalesServeArea";
        $.ajax({
            type: "post",
            url: posturl,
            data: {
                userName: userName,
                province: provinceName,
                city: cityName
            },
            dataType: "html",
            success: function (data) {
                $("#data").html(data);
            },
            error: function (textStatus) {
                window.location.href = "/Error/Index";
            }
        });
    }
</script>

