@model CrmWebApp.Models.CompanyMeetingViewModel

<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


    <div class="form-group">
        @Html.LabelFor(model => model.CompanyName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(model => model.CompanyName, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.MeetingType, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(model => model.MeetingType, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.MeetingType, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.MeetDate, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(model => model.MeetDate, new { htmlAttributes = new { @class = "form-control datetimepicker" } })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.MeetAddress, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(model => model.MeetAddress, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.MeetNames, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(model => model.MeetNames, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.MeetSummary, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(model => model.MeetSummary, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CreateUserName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(model => model.CreateUserName, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CreateTime, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(model => model.CreateTime, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    <hr />
    <div class="form-group">
        @Html.LabelFor(model => Model.MeetingSubjectList, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @if (Model.MeetingSubjectList != null && Model.MeetingSubjectList.Count > 0)
            {
                <table class="table">
                    <tr>
                        <th>类型</th>
                        <th>反馈</th>
                        <th>解决方案</th>
                        <th>解决日期</th>
                    </tr>
                    @for (int i = 0; i < Model.MeetingSubjectList.Count; i++)
                    {
                        <tr>
                            @Html.HiddenFor(e => Model.MeetingSubjectList[i].Id, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.HiddenFor(e => Model.MeetingSubjectList[i].CompanyMeetingId, new { htmlAttributes = new { @class = "form-control" } })
                            <td>
                                @Html.DisplayFor(e => Model.MeetingSubjectList[i].Subject, new { htmlAttributes = new { @class = "form-control" } })
                            </td>
                            <td>
                                @Html.DisplayFor(e => Model.MeetingSubjectList[i].Problem, new { htmlAttributes = new { @class = "form-control" } })
                            </td>
                            <td>
                                @Html.DisplayFor(e => Model.MeetingSubjectList[i].Resolve, new { htmlAttributes = new { @class = "form-control" } })
                            </td>
                            <td>
                                @Html.DisplayFor(e => Model.MeetingSubjectList[i].ResolveTime, new { htmlAttributes = new { @class = "form-control" } })
                            </td>
                        </tr>
                    }
                </table>
            }
        </div>
    </div>
    <hr />
    <div class="form-group">
        @Html.LabelFor(model => model.MediaList, htmlAttributes: new { @class = "control-label col-md-3" })
        <div class="col-md-8">
            @if (Model.MediaList != null && Model.MediaList.Count > 0)
            {
                for (int i = 0; i < Model.MediaList.Count; i++)
                {
                    var imageUrl = @Url.Content("~/CompanyImages/Meetings/" + Model.MediaList[i].OuterKeyId + "/" + Model.MediaList[i].MediaUrl);
                    <a href="@imageUrl" target="_blank" title="@Model.MediaList[i].MediaUrl">@Model.MediaList[i].MediaName</a>
                }
            }
        </div>
    </div>
</div>