@model CrmWebApp.Models.CompanyMeetingViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>CompanyMeeting</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.CompanyId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CompanyId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CompanyId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CompanyName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CompanyName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CompanyName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MeetingType, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MeetingType, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MeetingType, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MeetDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MeetDate, new { htmlAttributes = new { @class = "form-control datetimepicker" } })
                @Html.ValidationMessageFor(model => model.MeetDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MeetAddress, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MeetAddress, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MeetAddress, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MeetNames, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MeetNames, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MeetNames, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CreateUserName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CreateUserName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CreateUserName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CreateTime, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CreateTime, new { htmlAttributes = new { @class = "form-control datetimepicker" } })
                @Html.ValidationMessageFor(model => model.CreateTime, "", new { @class = "text-danger" })
            </div>
        </div>

        <hr />
        <div class="form-group">
            @Html.LabelFor(model => Model.MeetingSubjectList, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <a href="#" class="glyphicon glyphicon-plus" onclick="AddSubject(@Model.Id)"></a>
                @if (Model.MeetingSubjectList != null && Model.MeetingSubjectList.Count > 0)
                {
                    <table class="table">
                        <tr>
                            <th>类型</th>
                            <th>反馈</th>
                            <th>解决方案</th>
                            <th>解决日期</th>
                        </tr>
                        @for (int i = 0; i < Model.MeetingSubjectList.Count; i++)
                    {
                            <tr>
                                @Html.HiddenFor(e => Model.MeetingSubjectList[i].Id, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.HiddenFor(e => Model.MeetingSubjectList[i].CompanyMeetingId, new { htmlAttributes = new { @class = "form-control" } })
                                <td>
                                    @Html.EditorFor(e => Model.MeetingSubjectList[i].Subject, new { htmlAttributes = new { @class = "form-control" } })
                                </td>
                                <td>
                                    @Html.EditorFor(e => Model.MeetingSubjectList[i].Problem, new { htmlAttributes = new { @class = "form-control" } })
                                </td>
                                <td>
                                    @Html.EditorFor(e => Model.MeetingSubjectList[i].Resolve, new { htmlAttributes = new { @class = "form-control" } })
                                </td>
                                <td>
                                    @Html.EditorFor(e => Model.MeetingSubjectList[i].ResolveTime, new { htmlAttributes = new { @class = "form-control datetimepicker" } })
                                </td>
                            </tr>
                        }
                    </table>
                }
            </div>
        </div>
        <hr />
        <div class="form-group">
            @Html.LabelFor(model => model.MediaList, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <a href="#" class="glyphicon glyphicon-plus" onclick="AddMedia(@Model.Id, '拜访记录')"></a>
                <hr />
                @if (Model.MediaList != null && Model.MediaList.Count > 0)
                {
                    for (int i = 0; i < Model.MediaList.Count; i++)
                    {
                        var imageUrl = @Url.Content("~/CompanyImages/Meetings/" + Model.MediaList[i].OuterKeyId + "/" + Model.MediaList[i].MediaUrl);
                        <a href="@imageUrl" target="_blank" title="@Model.MediaList[i].MediaUrl">@Model.MediaList[i].MediaName</a>
                    }
                }
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<div class="modal" id="modalDiv" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title"></h3>
            </div>
            <div class="modal-body" id="modalBodyDiv">

            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-default" data-dismiss="modal">关闭</a>
            </div>
        </div>
    </div>
</div>



<script type="text/javascript">
    $(".datetimepicker").datetimepicker({
        format: "YYYY-MM-DD"
    });

    var AddSubject = function (dailyId, paramName) {
        var serverUrl = "@Url.Content("~/")";
        var url = serverUrl + "CompanyMeetingSubjects/AddNew?dailyId=" + dailyId;
        $("#modalBodyDiv").load(url, function () {
            $("#modalDiv").modal("show");
        })
    }

    var AddMedia = function (outerId, mediaFor) {
        var serverUrl = "@Url.Content("~/")";
        var url = serverUrl + "CompanyMedias/Create?outerId=" + outerId + "&mediaFor=" + mediaFor;
        $("#modalBodyDiv").load(url, function () {
            $("#modalDiv").modal("show");
        })
    }
</script>
