@model PagedList.IPagedList<CrmWebApp.Models.CompanyMeeting>
@using PagedList.Mvc;
@{
    ViewBag.Title = "沟通记录-"+ViewBag.CompanyName;
}

<div class="row-fluid">
    <div class="span12">
        <ul class="breadcrumb">
            <li>
                <a href="~/Home/Index">主页</a> <span class="divider"></span>
            </li>
            <li>
                <a href="~/OtaCompanies/Index">公司</a> <span class="divider"></span>
            </li>
            <li>
                <a href="#">拜访记录</a> <span class="divider"></span>
            </li>
            <li class="active">
                <a href="#">@ViewBag.CompanyName</a> <span class="divider"></span>
            </li>
        </ul>
    </div>
</div>

<p>
    @Html.ActionLink("新建", "Create","CompanyMeetings", new { companyId = ViewBag.CompanyId },new {@class="btn btn-default" })
</p>
<table class="table">
    <tr>
        <th>
            方式
        </th>
        <th>
            日期
        </th>
        <th>
            地址
        </th>
        <th>
            沟通人
        </th>
        <th>
            录入人
        </th>
        <th>
            录入时间
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MeetingType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MeetDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MeetAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MeetNames)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateUserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateTime)
            </td>
            <td>
                <a href="#" class="btn btn-default" data-toggle="modal" data-target="#modalDiv" onclick="ShowModalDiv('@item.Id')">查看</a> 
                @Html.ActionLink("编辑", "Edit", new { id = item.Id }, new { @class = "btn btn-default" })                
                @Html.ActionLink("删除", "Delete", new { id = item.Id }, new { onclick = "return confirm('确定要删除?')", @class = "btn btn-default" })
            </td>
        </tr>
    }

</table>
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, companyId = ViewBag.CompanyId }))

<div class="modal" id="modalDiv" tabindex="-1" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
            </div>
            <div class="modal-body" id="modalBodyDiv">
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-default" data-dismiss="modal">关闭</a>
            </div>
        </div>
    </div>
</div>

<script>

    var ShowModalDiv = function (modelParam) {
        var serverUrl = "@Url.Content("~/")";
        var url = serverUrl + "CompanyMeetings/ShowViewPartial?id=" + modelParam;
        $("#modalBodyDiv").load(url, function () {
            $("#modalDiv").modal("show");
        })
    }
</script>