@model List<CrmWebApp.Models.CompanyEditViewModel>

@{
    ViewBag.Title = "批量编辑客户资料";
}

@using (Html.BeginForm())
{
    List<string> businessRangeList = ViewData["BusinessRangeList"] as List<string>;
    List<string> businessStatusList = ViewData["BusinessStatusList"] as List<string>;
    List<string> salesNameList = ViewData["SalesNameList"] as List<string>;
    <hr />
    <div class="form-group">
        <table class="table">
            @for (int i = 0; i < Model.Count; i++)
            {
                var trId = Model[i].Id;
                <tr id="@("tr"+trId)">
                    <td>
                        @Html.DisplayFor(e => Model[i].CompanyName, new { htmlAttributes = new { @class = "form-control" } })
                    </td>
                    <td>
                        @for (int b = 0; b < businessRangeList.Count; b++)
                        {
                            <input type="radio" name="@("rbbr"+trId.ToString())" id="@("rbbr"+trId.ToString()+"_"+b.ToString())" value="@businessRangeList[b]" @(businessRangeList[b] == Model[i].BusinessRange ? "checked='checked'" : "") />
                            <label for="@("rbbr"+trId.ToString())">@businessRangeList[b]</label>
                        }
                    </td>
                    <td>
                        @for (int b = 0; b < businessStatusList.Count; b++)
                        {
                            <input type="radio" name="@("rbbs"+trId.ToString())" id="@("rbbs"+trId.ToString()+"_"+b.ToString())" value="@businessStatusList[b]" @(businessStatusList[b] == Model[i].BusinessStatus ? "checked='checked'" : "") />
                            <label for="@("rbbs"+trId.ToString())">@businessStatusList[b]</label>
                        }
                    </td>
                    <td>
                        @for (int b = 0; b < salesNameList.Count; b++)
                        {
                            <input type="radio" name="@("rbsn"+trId.ToString())" id="@("rbsn"+trId.ToString()+"_"+b.ToString())" value="@salesNameList[b]" @(salesNameList[b] == Model[i].SalesUserName ? "checked='checked'" : "") />
                            <label for="@("rbsn"+trId.ToString())">@salesNameList[b]</label>
                        }
                    </td>
                    <td>
                        <a href="#" class="btn btn-default" id="@("btn"+trId)" onclick="SaveEdit(@trId)">保存</a>
                    </td>
                </tr>
            }
        </table>
    </div>
    <hr />
}

<script>
    var SaveEdit = function (trid) {
        var id = trid;
        var businessRange = $("input[name=rbbr" + trid + "]:checked").val();
        var businessStatus = $("input[name=rbbs" + trid + "]:checked").val();
        var salesName = $("input[name=rbsn" + trid + "]:checked").val();

        var serverUrl = "@Url.Content("~/")";
        var mvcurl = serverUrl + "OtaCompanies/EditCompanySingle";
        $.ajax({
            type: 'POST',
            url: mvcurl,
            data: {
                id: id,
                businessRange: businessRange,
                businessStatus: businessStatus,
                salesName: salesName
            },
            success: function (data) {
                $("#btn" + trid).html("成功");
            }
        });
    }
</script>
