@model PagedList.IPagedList<CrmWebApp.Models.OtaCompany>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" />
@{
    ViewBag.Title = "公司列表";
}

<div class="row-fluid">
    <div class="span12">
        <ul class="breadcrumb">
            <li>
                <a href="~/Home/Index">主页</a> <span class="divider"></span>
            </li>
            <li class="active">
                <a href="#">公司列表</a> <span class="divider"></span>
            </li>
        </ul>
    </div>
</div>

<p>
    @Html.ActionLink("新建", "Create", "OtaCompanies", new { @class = "btn btn-default" })
</p>
@using (Html.BeginForm("Index", "OtaCompanies", FormMethod.Get))
{
    <p>
        搜索:@Html.TextBox("searchString", ViewBag.CurrentFilter as string, new { @class = "form-control", @Style = "display:inline" })
        <input type="submit" value="查找" />
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("销售", "Index", new { sortOrder = ViewBag.SalesUserNameSortParm })
        </th>
        <th>
            @Html.ActionLink("城市", "Index", new { sortOrder = ViewBag.CityNameSortParm })
        </th>
        <th>
            公司
        </th>
        <th>
            业务
        </th>
        <th>
            办公地
        </th>
        <th>
            老板
        </th>
        <th>
            @Html.ActionLink("拜访日", "Index", new { sortOrder = ViewBag.LastMeetingDateSortParm })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SalesUserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CityName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BusnessRange)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RealAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BossName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastMeetingDate)
            </td>
            <td>
                @Html.ActionLink("评分", "Index", "AgentGradeOperations", new { companyId = item.Id }, new { @class = "btn btn-default" })
                @Html.ActionLink("编辑", "Edit", new { id = item.Id }, new { @class = "btn btn-default" })
                @Html.ActionLink("详情", "Details", new { id = item.Id }, new { @class = "btn btn-default" })
                @Html.ActionLink("删除", "Delete", new { id = item.Id }, new { onclick = "return confirm('确定要删除?')", @class = "btn btn-default" })
                <a class="btn btn-default" href="~/CompanyCertificates/Index?companyId=@item.Id">资质</a>
                <a class="btn btn-default" href="~/CompanyBusinessDailies/Index?companyId=@item.Id">运营</a>
                <a class="btn btn-default" href="~/CompanySalesDailies/Index?companyId=@item.Id">业务</a>
                <a class="btn btn-default" href="~/CompanyMeetings/Index?companyId=@item.Id">拜访</a>
            </td>
        </tr>
    }

</table>
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
