@model IEnumerable<CrmWebApp.Models.OtaCompany>

@{
    ViewBag.Title = "Index";
}

<div class="row-fluid">
    <div class="span12">
        <ul class="breadcrumb">
            <li>
                <a href="~/Home/Index">主页</a> <span class="divider"></span>
            </li>
            <li class="active">
                <a href="#">公司列表</a> <span class="divider"></span>
            </li>
        </ul>
    </div>
</div>

<p>
    @Html.ActionLink("新建", "Create", "OtaCompanies", new { @class = "btn btn-default" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SalesUserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CityName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompanyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegisterAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RealAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OfficeNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LegalPerson)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BossName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SalesUserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CityName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegisterAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RealAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OfficeNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LegalPerson)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BossName)
            </td>
            <td>
                @Html.ActionLink("编辑", "Edit", new { id = item.Id }, new { @class = "btn btn-default" })
                @Html.ActionLink("详情", "Details", new { id = item.Id }, new { @class = "btn btn-default" })
                @Html.ActionLink("删除", "Delete", new { id = item.Id }, new { onclick = "return confirm('确定要删除?')", @class = "btn btn-default" })
                <a class="btn btn-default" href="~/CompanyCertificates/Index?companyId=@item.Id">资质</a>
                <a class="btn btn-default" href="~/CompanyBusinessDailies/Index?companyId=@item.Id">运营</a>
                <a class="btn btn-default" href="~/CompanySalesDailies/Index?companyId=@item.Id">业务</a>
                <a class="btn btn-default" href="~/CompanyMeetings/Index?companyId=@item.Id">拜访</a>
            </td>
        </tr>
    }

</table>
