@model IEnumerable<CrmWebApp.Models.SalesServeArea>

@{
    ViewBag.Title = "Index";
}

<div class="row-fluid">
    <div class="span12">
        <ul class="breadcrumb">
            <li>
                <a href="~/Home/Index">主页</a> <span class="divider"></span>
            </li>
            <li class="active">
                <a href="#">负责区域</a> <span class="divider"></span>
            </li>
        </ul>
    </div>
</div>

<p>
    <a href="#" class="btn btn-default" data-toggle="modal" data-target="#cityListModalDiv" onclick="ShowCityList('@ViewBag.UserName')">编辑</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Province)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Province)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.ActionLink("删除", "Delete", new { id = item.Id }, new { @class = "btn btn-default" })
            </td>
        </tr>
    }

</table>

<div class="modal" id="cityListModalDiv" tabindex="-1" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
            </div>
            <div class="modal-body" id="cityListModalBodyDiv">
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-default" data-dismiss="modal">关闭</a>
            </div>
        </div>
    </div>
</div>

<script>

    var ShowCityList = function (userName) {
        var serverUrl = "@Url.Content("~/")";
        var url = serverUrl + "SelectCityView/EditSalesServeAreaCitys?userName=" + userName;
        $("#cityListModalBodyDiv").load(url, function () {
            $("#cityListModalDiv").modal("show");
        })
    }
</script>