@model CrmWebApp.Models.CompanyBusinessDailyViewModel

@{
    ViewBag.Title = "Details";
}
<div class="row-fluid">
    <div class="span12">
        <ul class="breadcrumb">
            <li>
                <a href="~/Home/Index">主页</a> <span class="divider"></span>
            </li>
            <li>
                <a href="~/OtaCompanies/Index">公司</a> <span class="divider"></span>
            </li>
            <li class="active">
                <a href="~/OtaCompanies/Details?id=@Model.CompanyId">@Model.CompanyName</a><span class="divider"></span>
            </li>
            <li>
                <a href="~/CompanyBusinessDailies/Index?companyId=@Model.CompanyId">运营</a> <span class="divider"></span>
            </li>
            <li>
                <a href="#">详情</a> <span class="divider"></span>
            </li>
        </ul>
    </div>
</div>

<div class="container-fluid">
    <div class="row-fluid">
        <hr />
        <table>
            <tr>
                <td>
                    <h4>@Html.DisplayNameFor(model => model.CompanyName)</h4>
                </td>
                <td>
                    @Html.DisplayFor(model => model.CompanyName)
                </td>
            </tr>
            <tr>
                <td>
                    <h4>@Html.DisplayNameFor(model => model.BussinessType)</h4>
                </td>
                <td>
                    @Html.DisplayFor(model => model.BussinessType)
                </td>
            </tr>
            <tr>
                <td>
                    <h4>@Html.DisplayNameFor(model => model.ManagerName)</h4>
                </td>
                <td>
                    @Html.DisplayFor(model => model.ManagerName)
                </td>
            </tr>
            <tr>
                <td>
                    <h4>@Html.DisplayNameFor(model => model.CreateUserName)</h4>
                </td>
                <td>
                    @Html.DisplayFor(model => model.CreateUserName)
                </td>
            </tr>
            <tr>
                <td>
                    <h4>@Html.DisplayNameFor(model => model.CreateTime)</h4>
                </td>
                <td>
                    @Html.DisplayFor(model => model.CreateTime)
                </td>
            </tr>
            <tr>
                <td>
                    <h4>@Html.DisplayNameFor(model => model.BussinessLogDate)</h4>
                </td>
                <td>
                    @Html.DisplayFor(model => model.BussinessLogDate)
                </td>
            </tr>
            <tr>
                <td>
                    <h4>员工数</h4>
                </td>
                <td>
                    <a href="#" class="glyphicon glyphicon-plus"></a>
                    @Html.Partial("_PartialBusinessParamListView", Model.EmployeeList)
                </td>
            </tr>
            <tr>
                <td>
                    <h4>软件系统</h4>
                </td>
                <td></td>
            </tr>
            <tr>
                <td>
                    <h4>业务结构</h4>
                </td>
                <td></td>
            </tr>
            <tr>
                <td>
                    <h4>新业务</h4>
                </td>
                <td></td>
            </tr>
            <tr>
                <td>
                    <h4>照片</h4>
                </td>
                <td></td>
            </tr>
            <tr>
                <td>
                    <h4>录音</h4>
                </td>
                <td></td>
            </tr>
        </table>
    </div>
</div>
<p>
    @Html.ActionLink("编辑", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("返回列表", "Index", new { companyId = Model.CompanyId })
</p>
