@model CrmWebApp.Models.CompanyBusinessDailyViewModel

@{
    ViewBag.Title = "Details";
}

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <ul class="breadcrumb">
                <li>
                    <a href="#">@Model.DailyItem.CompanyName</a> <span class="divider"></span>
                </li>
                <li>
                    <a href="#">运营</a> <span class="divider"></span>
                </li>
                <li>
                    <a href="#">@Model.DailyItem.BussinessType</a> <span class="divider"></span>
                </li>
                <li class="active">
                    @Model.DailyItem.BussinessLogDate.Value.ToString("yyyy-MM-dd")
                </li>
            </ul>
        </div>
    </div>
    <div class="row-fluid">
        <hr />
        <table>
            <tr>
                <td>
                    <h4>@Html.DisplayNameFor(model => model.DailyItem.CompanyName)</h4>
                </td>
                <td>
                    @Html.DisplayFor(model => model.DailyItem.CompanyName)
                </td>
            </tr>
            <tr>
                <td>
                    <h4>@Html.DisplayNameFor(model => model.DailyItem.BussinessType)</h4>
                </td>
                <td>
                    @Html.DisplayFor(model => model.DailyItem.BussinessType)
                </td>
            </tr>
            <tr>
                <td>
                    <h4>@Html.DisplayNameFor(model => model.DailyItem.ManagerName)</h4>
                </td>
                <td>
                    @Html.DisplayFor(model => model.DailyItem.ManagerName)
                </td>
            </tr>
            <tr>
                <td>
                    <h4>@Html.DisplayNameFor(model => model.DailyItem.CreateUserName)</h4>
                </td>
                <td>
                    @Html.DisplayFor(model => model.DailyItem.CreateUserName)
                </td>
            </tr>
            <tr>
                <td>
                    <h4>@Html.DisplayNameFor(model => model.DailyItem.CreateTime)</h4>
                </td>
                <td>
                    @Html.DisplayFor(model => model.DailyItem.CreateTime)
                </td>
            </tr>
            <tr>
                <td>
                    <h4>@Html.DisplayNameFor(model => model.DailyItem.BussinessLogDate)</h4>
                </td>
                <td>
                    @Html.DisplayFor(model => model.DailyItem.BussinessLogDate)
                </td>
            </tr>
            <tr>
                <td>
                    <h4>员工数</h4>
                </td>
                <td>
                    <a href="#" class="glyphicon glyphicon-plus"></a>
                    @Html.Partial("_PartialBusinessParamListView", Model.EmployeeList)
                </td>
            </tr>
            <tr>
                <td>
                    <h4>软件系统</h4>
                </td>
                <td></td>
            </tr>
            <tr>
                <td>
                    <h4>业务结构</h4>
                </td>
                <td></td>
            </tr>
            <tr>
                <td>
                    <h4>新业务</h4>
                </td>
                <td></td>
            </tr>
            <tr>
                <td>
                    <h4>照片</h4>
                </td>
                <td></td>
            </tr>
            <tr>
                <td>
                    <h4>录音</h4>
                </td>
                <td></td>
            </tr>
        </table>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DailyItem.Id }) |
    @Html.ActionLink("Back to List", "Index", new { companyId = Model.DailyItem.CompanyId })
</p>
