@using CrmWebApp.Models
@model QunarLoginViewModel
@{
    ViewBag.Title = "Qunar手机登录";
}

@using (Html.BeginForm("QunarLogin", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-md-8">
            <h4>登录</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", id = "UserNameInput" })
                    
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
            </div>
            
            <div class="form-group">
                @Html.LabelFor(m => m.Vcode, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Vcode, new { @class = "form-control" })
                    <input type="button" class="btn btn-default" id="btnSendMsg" onclick="sendmsg()" value="验证短信" />
                    <div id="msg"></div>
                    @Html.ValidationMessageFor(m => m.Vcode, "", new { @class = "text-danger" })
                </div>
            </div>
            
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <div class="checkbox">
                        @Html.CheckBoxFor(m => m.RememberMe)
                        @Html.LabelFor(m => m.RememberMe)
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="登录" class="btn btn-default" />
                </div>
            </div>
            <p>
                @Html.ActionLink("忘记了密码?", "ForgotPassword")
            </p>

        </div>
    </div>
}

<script>
    var sendmsg = function () {
        $("#btnSendMsg").attr("disabled", true);    //隐藏一分钟
        $("#msg").html("请注意查看手机信息.一分钟内只能发一次.");
        var userName = $("#UserNameInput").val();
        var serverUrl = "@Url.Content("~/")";
        var mvcurl = serverUrl + "Account/GetQunarSMS?userName=" + userName;
        $.get(mvcurl, function (response) {
            $("#msg").html(response);
        });

        settime();
    }

    var countdown = 60;
    var settime = function() {
        if (countdown == 0) {
            $("#btnSendMsg").attr("disabled", false);
            $("#btnSendMsg").val("验证短信");
            countdown = 60;
        } else {
            $("#btnSendMsg").attr("disabled", true);
            $("#btnSendMsg").val("重新获取(" + countdown + ")");
            countdown--;
        }
        setTimeout(function () {
            settime()
        }, 1000)
    }
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}